@import "tailwindcss";
@plugin "daisyui" {
  themes: [ "anderson"];
}

@plugin "daisyui/theme" {
  name: "anderson";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #fbf4e9;
  --color-base-200: #c9a366;
  --color-base-300: #bc4e1b;
  --color-base-content: oklch(17% 0.079 36.259);
  --color-primary: #bc4e1b;
  --color-primary-content: #fbf4e9;
  --color-secondary: #642315;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(83% 0.128 66.29);
  --color-accent-content: #642315;
  --color-neutral: #7d2a19;
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(45% 0.124 130.933);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(55% 0.135 66.442);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0.25rem;
  --noise: 0;
}
